<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">AspnetRunBasics</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
      <ul class="navbar-nav m-auto">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/products">Product</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/cart">Cart</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/orders">Order</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/contact">Contact</a></li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <div class="input-group input-group-sm d-none d-lg-flex">
          <input type="text" class="form-control" placeholder="Search..." />
          <button type="button" class="btn btn-secondary btn-number">
            <i class="fa fa-search"></i>
          </button>
        </div>

        <a class="btn btn-success btn-sm ms-lg-3 mt-2 mt-lg-0" routerLink="/cart">
          <i class="fa fa-shopping-cart"></i>
          Cart
        </a>

        <ng-container *ngIf="user$ | async as user; else loginLink">
          <button class="btn btn-primary btn-sm ms-2" type="button" (click)="logout()">
            <i class="fa fa-user"></i>
            <span class="ms-1">Hello, {{ user.name }}!</span>
          </button>
        </ng-container>
        <ng-template #loginLink>
          <a class="btn btn-primary btn-sm ms-2 mt-2 mt-lg-0" routerLink="/login">
            <i class="fa fa-user"></i>
            <span class="ms-1">Login</span>
          </a>
        </ng-template>
      </form>
    </div>
  </div>
</nav>
