@page
@model Shopping.Web.Pages.UserModel
@{
    ViewData["Title"] = "User Profile";
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <h2>User Profile</h2>
            <p>Manage your account settings and information.</p>
            <div class="list-group">
                <a asp-page="UserDetails" class="list-group-item list-group-item-action">
                    <i class="fa fa-user"></i> Alterar Dados Pessoais
                </a>
                <a asp-page="UserPayments" class="list-group-item list-group-item-action">
                    <i class="fa fa-credit-card"></i> Payments
                </a>
            </div>
            <hr />
            <form method="post" asp-page-handler="Logout">
                <button type="submit" class="btn btn-danger mt-3">
                    <i class="fa fa-sign-out"></i> Logout
                </button>
            </form>
        </div>
    </div>
</div>
