.category_block li:hover {
  background-color: #007bff;
}

.category_block li:hover a,
.category_block li.active a {
  color: #ffffff;
}

.category_block li a {
  color: #343a40;
  text-decoration: none;
}
