version: '3.8'

services:
  influxdb:
    image: influxdb:1.8
    container_name: k6-influxdb
    restart: unless-stopped
    ports:
      - "8086:8086"
    environment:
      INFLUXDB_DB: ${INFLUXDB_DB:-k6}
      INFLUXDB_HTTP_AUTH_ENABLED: 'true'
      INFLUXDB_ADMIN_USER: ${INFLUXDB_ADMIN_USER:-k6}
      INFLUXDB_ADMIN_PASSWORD: ${INFLUXDB_ADMIN_PASSWORD:-k6pass}
      INFLUXDB_USER: ${INFLUXDB_USER:-k6}
      INFLUXDB_USER_PASSWORD: ${INFLUXDB_USER_PASSWORD:-k6pass}
    volumes:
      - influxdb-data:/var/lib/influxdb

  grafana:
    image: grafana/grafana:10.4.2
    container_name: k6-grafana
    restart: unless-stopped
    depends_on:
      - influxdb
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_ADMIN_USER:-admin}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD:-admin}
      GF_AUTH_ANONYMOUS_ENABLED: ${GRAFANA_ALLOW_ANONYMOUS:-false}
      GF_AUTH_ANONYMOUS_ORG_ROLE: Viewer
      GF_PATHS_PROVISIONING: /etc/grafana/provisioning
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/dashboards:/var/lib/grafana/dashboards

volumes:
  influxdb-data:
  grafana-data:
