<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Cart</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="container mb-4" *ngIf="cart">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"> </th>
              <th scope="col">Product</th>
              <th scope="col">Available</th>
              <th scope="col" class="text-center">Quantity</th>
              <th scope="col" class="text-end">Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart.items">
              <td><img src="https://dummyimage.com/50x50/55595c/fff" /></td>
              <td>{{ item.productName }}</td>
              <td>In stock</td>
              <td>
                <input class="form-control" type="number" [value]="item.quantity" min="1" disabled />
              </td>
              <td class="text-end">{{ item.price * item.quantity | currency: 'USD' }}</td>
              <td class="text-end">
                <button class="btn btn-sm btn-danger" (click)="remove(item.productId)"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total</strong></td>
              <td class="text-end"><strong>{{ cart.totalPrice || 0 | currency: 'USD' }}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <a routerLink="/products" class="btn btn-lg btn-success w-100">Continue Shopping</a>
        </div>
        <div class="col-sm-12 col-md-6 text-end mt-2 mt-md-0">
          <a routerLink="/checkout" class="btn btn-lg btn-danger w-100 text-uppercase">Checkout</a>
        </div>
      </div>
    </div>
  </div>
</div>
