version: '3.4'

networks:
  monitoring_network:
    driver: bridge

services:
  jaeger:
    image: jaegertracing/all-in-one:1.58
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411
      - METRICS_EXPORTER=prometheus
      - METRICS_STORAGE_TYPE=prometheus
      - PROMETHEUS_SERVER_URL=http://prometheus:9090
      - PROMETHEUS_QUERY_NAMESPACE=${PROMETHEUS_QUERY_NAMESPACE:-}
      - PROMETHEUS_QUERY_DURATION_UNIT=${PROMETHEUS_QUERY_DURATION_UNIT:-}
      - PROMETHEUS_QUERY_NORMALIZE_CALLS=true
      - PROMETHEUS_QUERY_NORMALIZE_DURATION=true
    ports:
      - "16686:16686"  # UI do Jaeger
      - "6831:6831/udp"  # Porta do Jaeger para o OpenTelemetry
      - "4317:4317"  # Porta do OTLP gRPC para o Jaeger
      - "8888:8888"
    networks:
      - monitoring_network

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"  # UI do Prometheus
    networks:
      - monitoring_network

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"  # Porta do Grafana
    depends_on:
      - prometheus
      - jaeger
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - monitoring_network

  catalogdb:
    image: postgres:16
    networks:
      - monitoring_network

  basketdb:
    image: postgres:16
    networks:
      - monitoring_network

  userdb:
    image: mcr.microsoft.com/mssql/server
    networks:
      - monitoring_network

  distributedcache:
    image: redis
    networks:
      - monitoring_network

  orderdb:
    image: mcr.microsoft.com/mssql/server
    networks:
      - monitoring_network

  catalog.api:
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: Services/Catalog/Catalog.API/Dockerfile
    networks:
      - monitoring_network

  basket.api:
    image: ${DOCKER_REGISTRY-}basketapi
    build:
      context: .
      dockerfile: Services/Basket/Basket.API/Dockerfile
    networks:
      - monitoring_network

  discount.grpc:
    image: ${DOCKER_REGISTRY-}discountgrpc
    build:
      context: .
      dockerfile: Services/Discount/Discount.Grpc/Dockerfile
    networks:
      - monitoring_network

  ordering.api:
    image: ${DOCKER_REGISTRY-}orderingapi
    build:
      context: .
      dockerfile: Services/Ordering/Ordering.API/Dockerfile
    networks:
      - monitoring_network

  user.api:
    image: ${DOCKER_REGISTRY-}userapi
    build:
      context: .
      dockerfile: Services/User/User.API/Dockerfile
    networks:
      - monitoring_network

  yarpapigateway:
    image: ${DOCKER_REGISTRY-}yarpapigateway
    build:
      context: .
      dockerfile: ApiGateways/YarpApiGateway/Dockerfile
    networks:
      - monitoring_network

  shopping.web:
    image: ${DOCKER_REGISTRY-}shoppingweb
    build:
      context: .
      dockerfile: WebApps/Shopping.Web/Dockerfile
    networks:
      - monitoring_network

volumes:
  postgres_catalog:
  postgres_basket:
