version: '3.4'

networks:
  monitoring_network:
    driver: bridge

x-keyvault-placeholders: &keyvault_placeholders
  ASPNETCORE_ENVIRONMENT: Production
  ASPNETCORE_HTTP_PORTS: 8080
  ASPNETCORE_HTTPS_PORTS: 8443

services:
  catalogdb:
    container_name: catalogdb
    environment:
      - POSTGRES_USER=${CATALOG_DB_USER}
      - POSTGRES_PASSWORD=${CATALOG_DB_PASSWORD}
      - POSTGRES_DB=${CATALOG_DB_NAME}
    restart: always
    networks:
      - monitoring_network

  basketdb:
    container_name: basketdb
    environment:
      - POSTGRES_USER=${BASKET_DB_USER}
      - POSTGRES_PASSWORD=${BASKET_DB_PASSWORD}
      - POSTGRES_DB=${BASKET_DB_NAME}
    restart: always
    networks:
      - monitoring_network

  userdb:
    container_name: userdb
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${USER_DB_PASSWORD}
    restart: always
    networks:
      - monitoring_network

  orderdb:
    container_name: orderdb
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${ORDER_DB_PASSWORD}
    restart: always
    networks:
      - monitoring_network

  distributedcache:
    container_name: distributedcache
    restart: always
    networks:
      - monitoring_network

  messagebroker:
    container_name: messagebroker
    hostname: ecommerce-mq
    environment:
      - RABBITMQ_DEFAULT_USER=${MESSAGEBROKER_USERNAME}
      - RABBITMQ_DEFAULT_PASS=${MESSAGEBROKER_PASSWORD}
    restart: always
    networks:
      - monitoring_network

  catalog.api:
    environment:
      <<: *keyvault_placeholders
      ConnectionStrings__Database: ${CATALOG_DB_CONNECTION_STRING}
    depends_on:
      - catalogdb
    networks:
      - monitoring_network

  basket.api:
    environment:
      <<: *keyvault_placeholders
      ConnectionStrings__Database: ${BASKET_DB_CONNECTION_STRING}
      ConnectionStrings__Redis: distributedcache:6379
      GrpcSettings__DiscountUrl: ${DISCOUNT_GRPC_URL}
      MessageBroker__Host: ${MESSAGEBROKER_HOST}
      MessageBroker__UserName: ${MESSAGEBROKER_USERNAME}
      MessageBroker__Password: ${MESSAGEBROKER_PASSWORD}
    depends_on:
      - basketdb
      - distributedcache
      - discount.grpc
      - messagebroker
    networks:
      - monitoring_network

  discount.grpc:
    environment:
      <<: *keyvault_placeholders
      ConnectionStrings__Database: ${DISCOUNT_DB_CONNECTION_STRING}
    networks:
      - monitoring_network

  ordering.api:
    environment:
      <<: *keyvault_placeholders
      ConnectionStrings__Database: ${ORDER_DB_CONNECTION_STRING}
      MessageBroker__Host: ${MESSAGEBROKER_HOST}
      MessageBroker__UserName: ${MESSAGEBROKER_USERNAME}
      MessageBroker__Password: ${MESSAGEBROKER_PASSWORD}
      FeatureManagement__OrderFullfilment: ${FEATURE_MANAGEMENT_ORDERFULFILMENT:-false}
    depends_on:
      - orderdb
      - messagebroker
    networks:
      - monitoring_network

  user.api:
    environment:
      <<: *keyvault_placeholders
      ConnectionStrings__Database: ${USER_DB_CONNECTION_STRING}
      MessageBroker__Host: ${MESSAGEBROKER_HOST}
      MessageBroker__UserName: ${MESSAGEBROKER_USERNAME}
      MessageBroker__Password: ${MESSAGEBROKER_PASSWORD}
    depends_on:
      - userdb
      - messagebroker
    networks:
      - monitoring_network

  yarpapigateway:
    environment:
      <<: *keyvault_placeholders
    depends_on:
      - catalog.api
      - basket.api
      - ordering.api
      - user.api
    networks:
      - monitoring_network

  shopping.web:
    environment:
      <<: *keyvault_placeholders
      ApiSettings__GatewayAddress: ${GATEWAY_BASE_URI}
    depends_on:
      - yarpapigateway
    networks:
      - monitoring_network

volumes:
  postgres_catalog:
  postgres_basket:
