global:
  scrape_interval: 60s

scrape_configs:
  - job_name: 'user-api'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['user.api:8080']
  - job_name: 'jaeger'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['jaeger:14269']